body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --body: Poppins;
  
    /* font sizes */
    --body-size: 24px;
    --font-size-13xl: 32px;
    --font-size-17xl: 36px;
  
    /* Colors */
    --lightest: #ebf7fd;
    --darkest: #36506c;
    --darker: #233142;
    --color-white: #fff;
    --lighter: #a5def1;
  
    /* Gaps */
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-10xl: 29px;
    --padding-32xl: 51px;
  
    /* Border radiuses */
    --br-13xl: 32px;
    --br-mini: 15px;
    --br-11xl: 30px;
  }