
.register{
    background-color: #a5def1;
    background-image: linear-gradient(43deg, #a5def1 33%, #36506c 66%, #233142 99%);

    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.left-data{
    color: #233142;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.data-arrangement{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mob,.pwd,.sub{
    width: 400px;
    height: 50px;
    padding: 0 15px;
    border-radius: 15px;
}
.sub{
    background-color: #36506c;
    color: #ebf7fd;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s linear 0s;
}
.sub:hover{
    transform: scale(1.1);
}